@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lora";
  src: url("../public/fonts/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "lora";
  src: url("../public/fonts/Lora-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "lora";
  src: url("../public/fonts/Lora-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "lora";
  src: url("../public/fonts/Lora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "manrope";
  src: url("../public/fonts/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "manrope";
  src: url("../public/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "manrope";
  src: url("../public/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "manrope";
  src: url("../public/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "manrope";
  src: url("../public/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "playwriteDEGrund";
  src: url("../public/fonts/PlaywriteDEGrund-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "playwriteDEGrund";
  src: url("../public/fonts/PlaywriteDEGrund-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
}

input[type="text"] {
  font-size: 16px;
}
input[type="email"] {
  font-size: 16px;
}
textarea {
  font-size: 16px;
}

@keyframes sway1 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes sway2 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-sway1 {
  animation: sway1 2s infinite linear;
}
.animate-sway2 {
  animation: sway2 2s infinite linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    background-color: rgba(36, 50, 0, 0.5);
  }
  to {
    opacity: 1;
    background-color: rgba(36, 50, 0, 1);
  }
}
@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}
.fade-in2 {
  animation: fadeIn2 1s ease-in-out forwards;
}
